{% extends "base.html" %}

{% block content %}
  {% with subscription=data form=put_form %}
    <h1>Create a subscription</h1>
    <form class="form-horizontal" action="." method='POST'>
      {% csrf_token %}
      {% if form %}
        <fieldset>
          <legend>Edit Subscription</legend>
          {% for field in form %}
            {% if field.errors %}
              <div class="control-group error">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                  <span class="help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                  </span>
                </div>
              </div>
            {% else %}
              <div class="control-group">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                  {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </fieldset>
        <div class="form-actions">
          <button type="submit" name="_method" value='PUT' class="btn btn-primary">Subscribe</button>
        {% endif %}
      </div>
    </form>
  {% endwith %}
{% endblock %}

