{% extends "base.html" %}
{% block content %}
  <h1>Subscriptions</h1>
  {% with form=post_form %}
    {% if form %}
      <form class="form-horizontal" method='POST'>
        {% csrf_token %}
        <fieldset>
          <legend>Subscriptions</legend>
          {% for field in form %}
            {% if field.errors %}
              <div class="control-group error">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                  <span class="help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                  </span>
                </div>
              </div>
            {% else %}
              <div class="control-group">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                  {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Create</button>

        </div>
      </form>
    {% endif %}
    <ul>
      {% for subscription in data %}
        <li><a href="{{ subscription.url }}">{{ subscription.name }}</a></li>
      {% endfor %}
    </ul>

  {% endwith %}

{% endblock %}
